@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-Light'),
        url('../fonts/opensans-light.woff2') format('woff2'),
        url('../fonts/opensans-light.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-ExtraBold'),
        url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
        url('../fonts/gilroyextrabold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-ExtraBold'),
        url('../fonts/gilroylight-webfont.woff2') format('woff2'),
        url('../fonts/gilroylight-webfont.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-width: 1180px;
    margin: 0;
    padding: 0;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #000000;

    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}


.text-desc {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}


.text-desc-upper,
.btn {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 24px;
    color: inherit;

    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 0 44px;

    text-align: center;
    line-height: 40px;
    background-color: transparent;
    background-image: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);

    border: none;
}

.btn:hover,
.btn:focus {
    background-color: #f0c52e;
    outline: none;
}

.btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.title {
    position: relative;
    margin: 83px 19px 19px 0px;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.5px;
}

.title::before {
    content: "";

    position: absolute;
    top: -44px;
    left: 0px;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}

.icon {
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: auto 0;
    background-position: center;
    background-repeat: no-repeat;
}

.new {
    position: relative;
}

.new::before {
    content: "NEW";

    position: absolute;
    top: 20px;
    right: 20px;

    width: 60px;
    height: 60px;

    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    line-height: 60px;
    text-align: center;
    color: black;

    border: 2px solid black;
    border-radius: 50%;

    opacity: 0.1;
}

.column {
    width: 50%;
}

.column-right {
    width: 50%;
    padding-left: 20px;
}

.main-header {
    position: relative;
    min-height: 186px;
    padding: 21px 70px 48px 70px;
    background-image: linear-gradient(#ffffff 40px, #F7E397 40px);
}

.main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header a {
    color: #000000;
    text-decoration: none;
}

.main-header a[href]:hover{
    opacity: 0.6;
}

.main-header a[href]:focus {
    opacity: 0.6;
    outline: none;
    text-decoration: underline;
}

.main-header a:active {
    opacity: 0.3;
}

.main-header .logo {
    display: inline-block;
    margin-bottom: 6px;
}

.header-actions {
    display: flex;
}

.search {
    position: relative;
    display: flex;
    margin-right: 140px;
}

.search input {
    flex-grow: 1;
    padding-left: 38px;

    line-height: 49px;

    background-color: transparent;
    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 3px 19px;
    border: none;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: #000000;
    opacity: 0.3;
}

.search input:hover::placeholder,
.search input:focus::placeholder {
    color: #000000;
    opacity: 0.6;
}

.search button {
    display: none;
    line-height: 45px;
    padding: 0 21px;
    background-color: transparent;
    border: 2px solid #000000;
}

.search button:hover,
.search button:focus {
    color: #ffffff;

    background-color: #000000;
    outline: none;
}

.search button:active {
    color: rgba(255, 255, 255, 0.3);
}

.search:focus-within button {
    display: inline-block;
}

.search:focus-within input {
    border-bottom: 2px solid #000000;
}

.profile-actions {
    display: flex;
    padding: 12px 0 12px 20px;
}

.profile-actions a {
    color: #000000;
    margin-left: 39px;
    padding-left: 26px;
}

.profile-actions .out {
    opacity: 0.3;
    margin-right: auto;
    margin-left: 0px;
    padding-left: 0px;
}

.profile-actions .enter {
    margin-right: auto;
    margin-left: 0;
}

.catalog-page .enter {
    margin-right: 20px;
    white-space: nowrap;
    margin-left: 0;
}

.profile-actions .enter::before {
    top: -3px;
    left: 0px;
    background-image: url("../img/icons/user.svg")
}

.profile-actions .compare::before {
    top: -2px;
    left: 4px;
    background-image: url("../img/icons/compare.svg")
}

.profile-actions .cart::before {
    top: -3px;
    left: 2px;
    background-image: url("../img/icons/cart.svg")
}

.main-header .main-nav {
    display: flex;
    padding-top: 27px;

    line-height: 24px;
}

.main-nav .expanded-menu {
    position: absolute;
    z-index: 1;
    left: 0;
    display: none;
    width: 100%;

    padding: 26px 61px 39px 60px;

    background-color: #F7E397;
}

.menu-toggle {
    display: inline-block;
}

.menu-toggle:hover .expanded-menu,
.menu-toggle:focus-within .expanded-menu {
    display: flex;
}

.menu-toggle > a {
    position: relative;
    padding-right: 30px;
}

.menu-toggle > a::before,
.menu-toggle > a::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 3px;
    width: 16px;
    height: 2px;
    background-color: #000000;
    opacity: 0.3;
}

.menu-toggle > a::after {
    transform: rotate(90deg);
}

.expanded-menu > li {
    margin-right: 60px;
}

.expanded-menu li {
    padding-bottom: 6px;
}

.main-header .site-nav {
    display: flex;
    padding-left: 20px;
}

.site-nav li {
    margin-right: 36px;
}

.site-nav li:last-child {
    margin-right: -3.6px;
    margin-left: auto;
}


.main-slider {
    position: relative;
    margin-bottom: 83px;

    background-image: linear-gradient(#F7E397 113px, #ffffff 113px);
}

.main-slider ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.img-container {
    display: flex;
    padding-right: 15px;
    padding-bottom: 20px;
}

.img-container img {
    margin: auto auto;
}

.main-slider .slide {
    display: none;
}

input[name="main-slider"]:checked ~ .slide {
    display: flex;
}

.main-slider label {
    position: absolute;
    top: 329px;
    right: 93px;
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.main-slider label[for="selfie-stick"] {
    right: 159px;
}

.main-slider label[for="fitness-bracelet"] {
    right: 126px;
}

.main-slider input[type="radio"]:checked + label::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    width: 5px;
    height: 5px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.slide::before {
    position: absolute;
    top: -10px;
    right: 74px;
    width: 166px;
    height: 131px;

    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 179px;
    line-height: 179px;
    color: white;
}

.slide-1::before {
    content: "01";
}

.slide-2::before {
    content: "02";
}

.slide-3::before {
    content: "03";
}

.slide .btn {
    margin: 27px 0;
}

.slide table {
    margin: 20px 0px;
}

.slide th {
    padding: 3px 0px;
    font-size: 13px;
    font-weight: normal;
}

.slide td {
    padding: 8px 74px 8px 0px;
    font-family:  "Gilroy Light", Arial, sans-serif;
    font-size: 36px;
    letter-spacing: 0.4px;
}

.categories-container {
    margin-bottom: 60px;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories a {
    text-decoration: none;
    color: #000000;
}

.categories li {
    width: 160px;
}

.categories .category {
    display: flex;
    width: 100%;
    height: 160px;
    margin-bottom: 33px;

    background-color: #F7E296;
}

.categories a:hover .category,
.categories a:focus .category {
    background-color: #F0C62A;
}

.categories a:focus {
    outline: none;
}

.categories a:active img,
.categories a:active b {
    opacity: 0.3;
}

.category img {
    margin: auto;
}

.categories b {
    display: block;
}


.services {
    min-height: 409px;
    margin-bottom: 94px;
    background-image: linear-gradient(#ffffff 121px, #e5e5e5 121px);
}

.services .container {
    padding-top: 100px;
}

.services-slider {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-slider::after {
    content: "";
    position: absolute;
    top: -79px;
    left: 277px;
    width: 7px;
    height: 319px;
    background-color: #000000;
}

.services-slider li {
    width: 278px;
    margin-bottom: 25px;
}

.services-slider .btn {
    width: 160px;
    padding: 0;
}

.services-slide {
    position: absolute;
    top: -92px;
    right: 0;
    left: 401px;
    display: none;
    min-height: 280px;
}

.services-slide::after {
    content: "";
    position: absolute;
    top: 98px;
    right: 30px;
    width: 171px;
    height: 194px;
    background-repeat: no-repeat;
}

.slide-delivery::after {
    background-image: url("../img/services/delivery.svg")
}

.slide-warranty::after {
    background-image: url("../img/services/warranty.svg")
}

.slide-credit::after {
    background-image: url("../img/services/credit.svg")
}

.services-slide p {
    width: 436px;
    margin: 27px 0px;
}

input[name="services"]:checked + label {
    display: block;
    width: 100%;
    text-align: left;
    color: #f7e184;

    background-image: none;
    background-color: #000000;
}

input[name="services"]:checked + label .btn {
    background-image: none;
    background-color: #000000;
}

input[name="services"]:checked ~ .services-slide {
    display: block;
}

.brands {
    margin-bottom: 49px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.brand-color {
    display: none;
}

.brands-item a:hover .brand-grey,
.brands-item a:focus .brand-grey {
    display: none;
}

.brands-item a:hover .brand-color,
.brands-item a:focus .brand-color {
    display: inline;
}

.info {
    display: flex;
}

.info .title {
    margin-bottom: 40px;
}

.info .title::before {
    width: 80px;

    background-color: #000000;
}

.info p {
    margin: 29px 0;

    color: #464646;
}

.about-us p {
    width: 475px;
}

.info-list {
    margin: 71px 0 49px;
    padding-left: 36px;

    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;

    list-style: none;
}

.info-list li {
    padding-bottom: 10px;
}

.info-list li::before {
    top: -10px;
    left: -34px;
    width: 8px;
    height: 8px;

    border: 2px solid #e6e6e6;
    border-radius: 50%;
}

.about-us .btn {
    padding: 0 20px 0 23px;
}

.info .map {
    display: block;
    margin: 37px 0 70px;
}

.contacts .btn {
    padding: 0 38px 0 41px;
}

.main-footer {
    margin-top: 81px;
    padding: 65px 0;

    color: #ffffff;
    background-color: #464646;
}

.main-footer a {
    color: inherit;
    text-decoration: none;
}

.main-footer a:focus {
    outline: none;
    text-decoration: underline;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-actions {
    padding: 0;
}

.footer-actions span {
    opacity: 0.7;
}

.footer-actions a:hover span{
    opacity: 1;
}

.footer-actions a:hover::before {
    opacity: 0.6;
}

.footer-actions a:active span,
.footer-actions a:active::before {
    opacity: 0.3;
}

.footer-actions .enter::before {
    top: -20px;
    left: 0px;

    background-image: url("../img/icons/user-yellow.svg")
}

.footer-actions .compare::before {
    top: -19px;
    left: 4px;

    background-image: url("../img/icons/compare-yellow.svg")
}

.footer-actions .cart::before {
    top: -20px;
    left: 2px;

    background-image: url("../img/icons/cart-yellow.svg")
}

.footer-middle{
    display: flex;
    justify-content: space-between;
}

.main-footer address {
    font-style: normal;
}

.footer-middle .site-nav {
    display: flex;

    margin: 0;
    margin-right: 42px;
    padding: 0;

    list-style: none;
}

.site-nav a {
    vertical-align: bottom;
}

.site-nav a:hover,
.site-nav a:focus {
    opacity: 0.6;
}

.site-nav a:active {
    opacity: 0.3;
}

.footer-bottom {
    display: flex;
    margin-top: 64px;
}

.footer-bottom::before {
    left: 10px;
    width: 80px;
    height: 7px;

    background-color: #ffc600;
}

.socials {
    display: flex;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.socials li {
    margin-left: 22px;
}

.socials a {
    display: block;
    width: 32px;
    height: 32px;

    font-size: 0px;

    background-repeat: no-repeat;
    opacity: 0.3;
    border-radius: 50%;
}

.socials a:hover,
.socials a:focus {
    opacity: 0.6;
}

.socials a:focus {
    box-shadow: 0 0 3px 1px #ffc600;
}

.socials a:active {
    opacity: 0.1;
}

.socials .fb {
    background-image: url("../img/icons/fb.svg");
}

.socials .insta {
    background-image: url("../img/icons/inst.svg");
}

.socials .twitter {
    background-image: url("../img/icons/tw.svg");
}

.development {
    width: 27px;
    height: 35px;
    background-image: url("../img/icons/logo-htmlacademy.svg");
    background-repeat: no-repeat;
}

.development:hover,
.development:focus {
    opacity: 0.6;
}

.development:active {
    opacity: 0.3;
}


.catalog-main a {
    text-decoration: none;
}

.catalog-main .title {
    margin: 35px 60px 15px;
}

.catalog-main .title:before {
    display: none;
}

.breadcrumbs {
    display: flex;
    margin: 0 61px 43px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    margin-right: 37px;
}

.breadcrumbs li:not(:first-child)::before {
    top: 1px;
    left: -23px;
    width: 5px;
    height: 5px;
    border-radius: 100% 0 0 0;
    background-color: transparent;
    box-shadow: 1px 1px 0 1px #000000;
    transform: rotate(-45deg) scale(0.73);
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.14px;
    opacity: 0.3;
}

.filter-catal-wrapper {
    display: flex;
}

.filter-catal-wrapper .text-desc-upper {
    font-size: 16px;
    line-height: 71px;
}

.filter-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    background-color: #ECECEC;
    background-image: linear-gradient(#DADADA 71px, #ECECEC 71px);
}

.filter {
    width: 330px;
    padding: 0px 61px;
}

.filter h2 {
    margin: 0;
    margin-bottom: 68px;
}

.filter h3 {
    margin: 0;
    margin-bottom: 16px;

    line-height: 45px;

    border-top: 2px solid black;
}

.filter .range-wrapper {
    margin: 16px 0;
    padding: 8px 0 14px;
}

.filter .range-line {
    position: relative;
    width: 200px;
    height: 2px;
    margin-bottom: 7px;
    background-image: linear-gradient(to right, #91c92f 110px, #D8DDDF 110px);
}

.range-line::before,
.range-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -3%;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;

    background-color: #ACADAD;
    border: 8px solid #ffffff;
    border-radius: 50%;
}

.range-line::after {
    left: 54%
}

.range-output input {
    width: 68px;
    background-color: transparent;
    border: none;
}

.range-output input,
.range-output span {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.2;
}

.filter .checkbox-wrapper {
    margin-bottom: 21px;
    border-bottom: 1px solid #E6E6E6;
}

.color-checkbox{
    position: relative;

    display: block;
    margin-bottom: 19px;
    padding-left: 39px;

    line-height: 21px;
}

.color-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    width: 23px;
    height: 23px;

    border: 2px solid #000000;
    border-radius: 3px;
}

.color-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    outline: none;
    box-shadow: 0 0 3px 1px #ffc600;
}

.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 11px;
  height: 4px;
  transform: rotate(45deg);

  background-color: #000000;
  border-radius: 1px;
}

.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
        content: "";

        position: absolute;
        top: 5px;
        left: 5px;

        width: 20px;
        height: 4px;
        transform: rotate(-45deg);

        background-color: #000000;
        border-radius: 1px;
        outline: 2px solid #ECECEC;
  }

  .filter .radio-wrapper {
      margin-bottom: 41px;
  }

  .bluetooth-radio{
    position: relative;

    display: block;
    margin-bottom: 20px;
    padding-left: 39px;

    line-height: 21px;
}

.bluetooth-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    width: 25px;
    height: 25px;

    border: 4px solid #000000;
    border-radius: 50%;
}

.bluetooth-radio input[type="radio"]:checked + .radio-indicator::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 4px;

    width: 9px;
    height: 9px;

    background-color: #000000;
    border-radius: 50%;
}

.bluetooth-radio input[type="radio"]:focus + .radio-indicator {
    box-shadow: 0 0 4px 2px #ffc600;
  }

  .filter .btn {
    padding: 0 40px;
  }

.catal-wrapper {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;

      background-image: linear-gradient(#ECECEC 71px, #ffffff 71px)
  }

.catalog {
      width: 833px;
      padding-left: 73px;
  }

.sorting {
    display: flex;

    margin-bottom: 69px;
}

.sorting-selection {
    margin-left: 25px;
}

.sorting a {
    margin-left: 26px;

    font-size: 14px;
    line-height: 71px;
    color: #000000;
    opacity: 0.3;
}

.sorting a:hover,
.sorting a:focus {
    opacity: 0.6;
}

.sorting a:active,
.sorting a.active {
    opacity: 1;
}

.sorting-direction {
    display: inline;
    margin-left: auto;
    padding-top: 21px;

    white-space: nowrap;
}

.sorting-direction .direction {
    position: relative;
    width: 12px;
    margin-left: 14px;
    display: inline-block;
    height: 11px;
}

.sorting-direction .direction::before{
    content: "";
    position: absolute;

    border: 5.5px solid #ffffff;
    border-top-color: #000000;
    border-top-width: 10px;
    border-bottom-width: 0px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.sorting-direction .direction-top::before {

    transform: rotate(180deg);
}

.item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    list-style: none;
}

.item {
    position: relative;
    width: 360px;
    min-height: 420px;
    margin-bottom: 45px;
}

.item-desc {
    display: flex;
    justify-content: space-between;

    padding-top: 23px;
}

.item-desc span {
    margin-top: -3px;

    font-size: 16px;
    color: #464646;
    white-space: nowrap;
}

.item-desc h3 {
    margin: 0;
}

.item .actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    padding: 40px 0;

    text-align: center;
    background-color: white;
}

.item:hover .actions,
.item:focus .actions {
    display: block;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0 30px;

    color: #000000;

    background-color: #ebebeb;

    list-style: none;
}

.pagination li {
    margin: 0;
    margin-right: 11px;
    margin-left: 17px;
    padding: 0;
}

li.prev-page {
    margin: 0;
    margin-right: auto;
}

li.next-page {
    margin: 0;
    margin-left: auto;
}

.pagination a {
    color: #000000;
    opacity: 0.3;
}

.pagination .active {
    opacity: 1;
}

.catalog-page .main-footer {
    margin-top: 76px;
}


.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    width: 960px;
    padding: 92px 100px;

    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0 #04060633;
}

.modal-close {
    position: absolute;
    top: 25px;
    right: 25px;

    width: 55px;
    height: 55px;
    padding: 0;

    font-size: 0;

    background-color: #F7E397;
    border: 0;
    border-radius: 50%;

    cursor: pointer;
  }

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 27px;
  left: 12px;

  width: 30px;
  height: 2px;
  transform: rotate(45deg);

  border-radius: 2px;
  background-color: #ffffff;
}

.modal-close::after {
  transform: rotate(-45deg);
}

.form-communication {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-communication label {
    display: block;
    margin-bottom: 7px;
}

.form-communication .input-wrapper {
    margin-bottom: 33px;
}

.input-wrapper input {
    width: 360px;
    padding: 0 20px;

    line-height: 50px;

    background-color: #F2F2F2;
    border: none;
}

.form-communication input::placeholder,
.form-communication textarea::placeholder {
    font-size: 14px;
    color: #46464666;
    opacity: 0.4;
}

.form-communication textarea {
    width: 760px;
    height: 156px;
    padding: 18px 20px;
    margin-bottom: 41px;

    background-color: #F2F2F2;

    border: none;
}

.modal-map {
    display: none;
}